SHOP_ENABLED=0
SHOP_ORIGIN=https://zhilin.club
SHOP_DB=/var/lib/zhilin-shop/orders.sqlite3
SHOP_FILES=/var/lib/zhilin-shop/products
WX_MCH_ID=1749910301
WX_APP_ID=wx85e2fd6b83146d1f
WX_CERT_PATH=/etc/zhilin-shop/apiclient_cert.pem
WX_PRIVATE_KEY_PATH=/etc/zhilin-shop/apiclient_key.pem
WX_PLATFORM_PUBLIC_KEY_PATH=/etc/zhilin-shop/wechatpay_public_key.pem
WX_PLATFORM_PUBLIC_KEY_ID=PUB_KEY_ID_0117499103012026082700212253003802
WX_API_V3_KEY=
WX_NOTIFY_URL=https://zhilin.club/api/shop/wechat/notify
